@model AA.HRMS.Interfaces.IGradeView

@{
    ViewBag.Title = "Edit Grade";
}




<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


@using (Html.BeginForm("EditGrade", "HR", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <div class="modal-body">


        <input type="hidden" id="companyId" name="companyId" value="@Model.CompanyId" />
        <input type="hidden" id="gradeId" name="gradeId" value="@Model.GradeId" />

        @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
        {

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
            </div>
        }


        <div class="form-example-int">
            <div class="form-group">
                <label>Grade Name</label>
                <div class="">
                    <input type="text" onchange="doThing()" id="gradeName" name="gradeName" value="@Model.GradeName" class="form-control">
                    @Html.ValidationMessageFor(model => model.GradeName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-example-int">
            <div class="form-group">
                <label>Grade Description</label>
                <div class="">
                    <textarea type="text" id="GradeDescription" name="GradeDescription" value="@Model.GradeDescription" class="form-control">@Model.GradeDescription</textarea>
                </div>
            </div>
        </div>

        <div class="form-example-int">
            <div class="form-group">
                <label>Duration of Annual Leave (in Weeks)</label>
                <div class="">
                    <input id="annualLeaveDuration" name="annualLeaveDuration" type="number" min="0" class="form-control" value="@Model.AnnualLeaveDuration" />
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" id="btnSubmit" disabled="true" name="submitButton" value="Submit" class="btn btn-default">Modify</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

}


<script>

    function doThing() {

        var gradeName = $('#gradeName').val().length > 2;

        if (gradeName) {
            $('#btnSubmit').prop("disabled", false);
        }
    };

</script>