@model AA.HRMS.Interfaces.IBeneficiariesView


@{
    ViewBag.Title = "Add Employee Beneficiary Details";
}



@Html.ValidationSummary()

@Model.ProcessingMessage


<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

@using (Html.BeginForm("CreateBeneficiaries", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()


<div class="modal-body">


    <input name="EmployeeId" id="EmployeeId" value="@Model.EmployeeId" hidden />
    <input name="url" id="url" value="@Model.URL" hidden />

    <div class="form-example-int">
        <div class="form-group">
            <label>Beneficiary Name</label>
            <div class="">
                <input id="beneficiaryName" required name="beneficiaryName" type="text" class="form-control" value="@Model.BeneficiaryName" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Beneficiary Date Of Birth</label>
            <div class="">
                <input id="dateOfBirth" required name="dateOfBirth" type="date" class="form-control" value="@Model.DateOfBirth" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label> Email</label>
            <div class="">
                <input id="Email" required name="Email" type="email" class="form-control" value="@Model.Email" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label> Mobile Contact</label>
            <div class="">
                <input id="Mobile" required name="Mobile" type="text" class="form-control" value="@Model.Mobile" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label> Address</label>
            <div class="">
                <textarea id="Address" required name="Address" wrap="soft" cols="3" type="text" class="form-control" value="@Model.Address">@Model.Address</textarea>
            </div>
        </div>
    </div>


</div>

    <div class="modal-footer">
        <button type="submit" name="submitButton" class="btn btn-default">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
}






