@model AA.HRMS.Interfaces.INextOfKinView


@{
    ViewBag.Title = "Delete Employee Next Of Kin Details";
}



@Html.ValidationSummary()

@*@Model.ProcessingMessage*@


<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

@using (Html.BeginForm("DeleteNextOfKin", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()


<div class="modal-body">


    <input name="EmployeeId" id="EmployeeId" value="@Model.EmployeeId" hidden />
    <input name="NextOfKinId" id="NextOfKinId" value="@Model.NextOfKinId" hidden />
    <input name="url" id="url" value="@Model.URL" hidden />

    <div class="form-example-int">
        <div class="form-group">
            <label>Spouse Name</label>
            <div class="">
                <input id="spouseName" disabled name="spouseName" type="text" class="form-control" value="@Model.NextOfKinName" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Spouse Date Of Birth</label>
            <div class="">
                <input id="dateOfBirth" disabled name="dateOfBirth" type="text" class="form-control" value="@Model.DateOfBirth" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Spouse Email</label>
            <div class="">
                <input id="Email" disabled name="Email" type="email" class="form-control" value="@Model.Emial" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Spose Mobile Contact</label>
            <div class="">
                <input id="Mobile" disabled name="Mobile" type="text" class="form-control" value="@Model.Mobile" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Spouse Address</label>
            <div class="">
                <textarea id="Address" disabled name="Address" wrap="soft" cols="3" type="text" class="form-control" value="@Model.Address">@Model.Address</textarea>
            </div>
        </div>
    </div>


</div>

    <div class="modal-footer">
        <button type="submit" name="submitButton" class="btn btn-default">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
}






