
@model AA.HRMS.Interfaces.ITraininingCalendarView


@{

    ViewBag.Title = "Add Training to Calendar";
}




<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>



@using (Html.BeginForm("AddTrainingCalendar", "Training", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="modal-body">

    @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
    {

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
        </div>
    }

    <input name="companyId" value="@Model.CompanyId" hidden />

    <div class="form-example-int">
        <div class="form-group">
            <label>Training</label>
            <div class="">
                @Html.DropDownList("trainingId", Model.TrainingDropDown, new { @class = "form-control", id = "trainingId" })
            </div>
        </div>
    </div>
    <div class="form-example-int">
        <div class="form-group">
            <label>Status</label>
            <div class="">
                @Html.DropDownList("trainingStatusId", Model.TrainingStatusDropDown, new { @class = "form-control", id = "trainingStatusId" })
            </div>
        </div>
    </div>
    <div class="form-example-int">
        <div class="form-group">
            <label>Location</label>
            <div class="">
                <input id="location" required name="location" type="text" class="form-control" value="@Model.Location" />
            </div>
        </div>
    </div>
    <div class="form-example-int">
        <div class="form-group">
            <label>Start Date</label>
            <div class="">
                <input id="deliverystartdate" required type="date" name="deliverystartdate" class="form-control" value="@Model.DeliveryStartDate" />
            </div>
        </div>
    </div>
    <div class="form-example-int">
        <div class="form-group">
            <label>End Date</label>
            <div class="">
                <input id="deliveryenddate" required type="date" name="deliveryenddate" class="form-control" value="@Model.DeliveryEndDate" />
            </div>
        </div>
    </div>
</div>

    <div class="modal-footer">
        <button type="submit" name="submitButton" value="Submit" class="btn btn-sm btn-primary">Create Calendar</button>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    </div>

}



