@model AA.HRMS.Interfaces.ITrainingNeedAnalysisView

@{
    ViewBag.Title = "Add New Training Need Analysis";
}




<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


@using (Html.BeginForm("CreateTrainingAnalysis", "Training", FormMethod.Post, new { id = "CreateTrainingAnalysis" }))
{
    @Html.AntiForgeryToken()


<div class="modal-body">

    @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
    {

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
        </div>
    }


    <input name="companyId" value="@Model.CompanyID" hidden />

    <div class="form-example-int">
        <div class="form-group">
            <label>Training Name</label>
            <div class="">
                @Html.DropDownList("TrainingId", Model.TrainingDropDownList, new { @class = "form-control", id = "TrainingId" })
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Job Title</label>
            <div class="">
                @Html.DropDownList("JobId", Model.JobDropDownList, new { @class = "form-control", id = "JobId" })
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Frequency of Delivery</label>
            <div class="">
                @Html.DropDownList("FrequencyOfDeliveryID", Model.FrequencyOfDeliveryDropDownList, new { @class = "form-control", id = "FrequencyOfDeliveryID" })
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Currency</label>
            <div class="">
                @Html.DropDownList("currency", Model.CurrencyDropDownList, new { @class = "form-control input-sm", id = "currency" })
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Method of Delivery</label>
            <div class="">
                @Html.DropDownList("methodOfDelivery", Model.MethodOfDeliveryDropDown, new { @class = "form-control", id = "methodOfDelivery" })
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Training Provider</label>
            <div class="">
                <input id="trainingprovider" type="text" name="trainingprovider" class="form-control" value="@Model.TrainingProvider" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Training Description</label>
            <div class="">
                <textarea id="TrainingDescription" type="text" name="TrainingDescription" class="form-control" value="@Model.TrainingDescription">@Model.TrainingDescription</textarea>
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Cost</label>
            <div class="">
                <input id="cost" name="cost" type="text" class="form-control" value="@Model.Cost" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Training Location</label>
            <div class="">
                <input id="location" name="location" type="text" class="form-control" value="@Model.Location" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Certificate Issued</label>
            <div class="">
                <input id="certificateissued" name="certificateissued" class="form-control" value="@Model.CertificateIssued" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Training Duration (Month)</label>
            <div class="">
                <input id="trainingduration" type="text" name="trainingduration" class="form-control" value="@Model.TrainingDuration" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Approved Budget</label>
            <div class="">
                <input id="approvedbudget" type="text" name="approvedbudget" class="form-control" value="@Model.ApprovedBudget" />
            </div>
        </div>
    </div>

    <div class="form-example-int">
        <div class="form-group">
            <label>Approved Budget Currency</label>
            <div class="">
                @Html.DropDownList("approvedBudgetCurrency", Model.CurrencyDropDownList, new { @class = "form-control", id = "approvedBudgetCurrency" })
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">

    <button type="submit" name="submitButton" value="Submit" class="btn btn-sm btn-primary">Create Training Need Analysis</button>
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
</div>


}