@model AA.HRMS.Interfaces.IBenefitListView

@{
    ViewBag.Title = "Benefit List";
    var hasInfo = (Model != null) && (Model.Benefits.Any());
}



<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button class="btn" data-toggle="tooltip" onclick="createModal('/companysetup/createbenefit')" data-placement="left" title="Create Benefit"><i class="notika-icon notika-plus-symbol"></i></button>
                                <a class="btn" data-toggle="tooltip" href="~/companysetup/Index" data-placement="right" title="Back"><i class="notika-icon notika-back"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ProcessingMessage))
{

    <div class="container">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
        </div>
    </div>
}
            

@if (!ViewData.ModelState.IsValid)
{
    <div class="container">

        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
        </div>
    </div>
}


@if (hasInfo)
{

    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Company Name</th>
                                        <th>Benefit Name</th>
                                        <th>Is Monetized</th>
                                        <th>Is Taxable</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.Benefits)
                                    {
                                    <tr>


                                        <td>
                                            @d.CompanyName
                                        </td>

                                        <td>
                                            @d.BenefitName
                                        </td>

                                        <td>
                                            @if (d.IsMonetized)
                                            { <p>Yes</p> }
                                            else
                                            { <p>No</p> }
                                        </td>

                                        <td>
                                            @if (d.IsTaxable)
                                            { <p>Yes</p> }
                                            else
                                            { <p>No</p> }
                                        </td>




                                        <td>
                                            <button data-toggle="tooltip" class="btn btn-primary" onclick="editModal('/companysetup/editbenefit?benefitId=@d.BenefitId')" data-placement="left" title="Edit Benefit">Modify</button>

                                        </td>

                                        <td>
                                            <button data-toggle="tooltip" class="btn btn-danger" onclick="editModal('/companysetup/deletebenefit?benefitId=@d.BenefitId')" data-placement="left" title="Delete Benefit">Delete</button>

                                        </td>

                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Benefit Name</th>
                                        <th>Is Monetized</th>
                                        <th>Is Taxable</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Benefit</p>
                </div>
            </div>
        </div>
    </div>

}

<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayCreate">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayEdit">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayDelete">

            </div>
        </div>
    </div>
</div>

<script>

    var URL = "";

    function createModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayCreate").html(data);
            }
        });

        $("#createModal").modal();
    }

    function editModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayEdit").html(data);
            }
        });

        $("#editModal").modal();

    }

    function deleteModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayDelete").html(data);
            }
        });

        $("#deleteModal").modal();

    }

</script>