@model AA.HRMS.Interfaces.IRewardView
@{
    ViewBag.Title = "Create Reward";
}


<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

            

    @using (Html.BeginForm("CreateReward", "CompanySetup", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="modal-body">
            @Html.ValidationSummary()
            @Model.ProcessingMessage

            <input name="companyId" value="@Model.CompanyId" hidden />

            <div class="form-example-int">
                <div class="form-group">
                    <label>Reward Name</label>

                    <div class="">
                        <input required id="rewardName" name="rewardName" class="form-control ", type="text" value="@Model.RewardName" />
                    </div>
                </div>
            </div>

            <div class="form-example-int">
                <div class="form-group">
                    <label>Amount</label>
               
                    <div class="">
                    <input required id="amount" name="amount"class="form-control ", type="number" value="@Model.Amount" />
                </div>
                </div>
            </div>

            <div class="form-example-int">
                <div class="form-group">
                   <label>Company</label>
                    <div class="nk-int-st">
                    @Html.DropDownList("companyId", Model.CompanyDropDown, new { @class="form-control input-sm", id = "companyId" })
                </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="submit" name="submitButton" value="Submit" class="btn btn-default">Create</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    }