
@model AA.HRMS.Interfaces.ILevelGradeListView

@{
    ViewBag.Title = "Salary Scale List";
    var hasInfo = ((Model != null) && (Model.LevelGradeCollection != null) && Model.LevelGradeCollection.Any());
}




<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <a class="btn" href="/companysetup/addlevelgrade" data-placement="left" title="Create Salary Scale "><i class="notika-icon notika-plus-symbol"></i></a>

                                <a class="btn" data-toggle="tooltip" href="~/companysetup/Index" data-placement="right" title="Back"><i class="notika-icon notika-back"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ProcessingMessage))
{

    <div class="container">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
        </div>
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
        </div>
    </div>
}


@if (hasInfo)
{
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Level Name</th>
                                        <th>Grade Name</th>
                                        <th>Base Salary</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.LevelGradeCollection)
                                    {
                                        <tr>

                                            <td>
                                                @d.CompanyName
                                            </td>
                                            <td>
                                                @d.LevelName
                                            </td>
                                            <td>
                                                @d.GradeName
                                            </td>
                                            <td>
                                                @d.BasePay
                                            </td>

                                            <td>
                                                <a class="btn btn-sm btn-primary" href="/companysetup/EditLevelGrade?levelgradeId=@d.PayScaleId" data-placement="left" title="Edit Salary Scale">Modify</a>

                                            </td>

                                            <td>
                                                <a class="btn btn-sm btn-danger" href="/companysetup/DeleteLevelGrade?levelgradeId=@d.PayScaleId" data-placement="left" title="Delete Salary Scale">Delete</a>

                                            </td>

                                            <td>
                                                <a class="btn btn-sm btn-primary" href="/companysetup/payscalebenefits?payscaleId=@d.PayScaleId" data-placement="left" title="@d.GradeName @d.GradeName Benefit(s)">View Benefit(s)</a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Level Name</th>
                                        <th>Grade Name</th>
                                        <th>Base Salary</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Salary Scale</p>
                </div>
            </div>
        </div>
    </div>

}



