@using AA.HRMS.Interfaces.ValueTypes
@model AA.HRMS.Interfaces.IAppraisalView
@{
    ViewBag.Title = "Appraisal List";
    var hasInfo = ((Model != null) && (Model.appraisal != null) && Model.appraisal.Any());

    var roles = (String[])HttpContext.Current.Session[SessionKey.UserRoles];
}


<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                </div>
                            </div>
                        </div>
                        @if (!roles.Contains("Employee"))
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <button class="btn" onclick="createModal('/PerformanceManagement/CreateAppraisal')" data-placement="left" title="Create Appraisal"><i class="notika-icon notika-plus-symbol"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ProcessingMessage))
{
    <div>
        <div class="container">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>

        </div>
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div>
        <div class="container">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
            </div>
        </div>
    </div>
}


@if (hasInfo)
{
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Period</th>
                                        <th>Year</th>
                                        <th>Initiation Date</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                        @if (!roles.Contains("Employee"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.EmployeeAppraisalCollection)
                                    {
                                        <tr>
                                            <td>
                                                @d.CompanyName
                                            </td>
                                            <td>
                                                @d.AppraisalPeriod
                                            </td>
                                            <td>
                                                @d.AppraisalYear
                                            </td>
                                            <td>
                                                @d.DateInitiated
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="viewModal('/performancemanagement/viewappraisal?appraisalId=@d.AppraisalId')" data-placement="right" title="View Appraisal">View</button>
                                            </td>
                                            <td>
                                                @if (d.IsOpened)
                                                {
                                                    <button class="btn btn-success">Appraisal Opened</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-gray">Appraisal Closed</button>
                                                }
                                            </td>
                                            @if (!roles.Contains("Employee"))
                                            {
                                                <td>
                                                    <button class="btn btn-danger" onclick="deleteModal('/performancemanagement/deleteappraisal?appraisalId=@d.AppraisalId')" data-placement="right" title="Delete Appraisal">Delete</button>
                                                </td>
                                            }


                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Company</th>
                                        <th>Period</th>
                                        <th>Year</th>
                                        <th>Initiation Date</th>
                                        <th>Action</th>
                                        <th>Action</th>
                                        @if (!roles.Contains("Employee"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Appraisal</p>
                </div>
            </div>
        </div>
    </div>

}




<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayView">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayCreate">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayEdit">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayDelete">

            </div>
        </div>
    </div>
</div>

<script>
    var URL = "";

    function viewModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayView").html(data);
            }
        });


        $("#viewModal").modal();
    }

    function createModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayCreate").html(data);
            }
        });


        $("#createModal").modal();
    }


    function editModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayEdit").html(data);
            }
        });

        $("#editModal").modal();

    }

    function deleteModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayDelete").html(data);
            }
        });

        $("#deleteModal").modal();

    }
</script>


