@model AA.HRMS.Interfaces.IAppraisalView

@{
    ViewBag.Title = "Delete Appraisal";
}

<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
@Html.ValidationSummary()
@Model.ProcessingMessage

@using (Html.BeginForm("DeleteAppraisal", "PerformanceManagement", FormMethod.Post, new { id = "AppraisalForm", enctype = "multipart/form-data", encoding = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="modal-body">


        <input type="hidden" name="AppraisalId" id="AppraisalId" value="@Model.AppraisalId" />
        <input type="hidden" name="companyId" id="companyId" value="@Model.CompanyId" />

        <div class="form-example-int">
            <div class="form-group">
                <label>Appraisal Period</label>
                <div class="">
                    <input disabled class="form-control" id="appraisalPeriodName" name="appraisalPeriodName" value="@Model.AppraisalPeriodName" />
                </div>
            </div>
        </div>

        <div class="form-example-int">
            <div class="form-group">
                <label>Appraisal Year</label>
                <div class="">
                    <input disabled class="form-control" id="appraisalYearName" name="appraisalYearName" value="@Model.AppraisalYearName" />
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" name="submitButton" class="btn btn-default">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>



}







