@model AA.HRMS.Interfaces.IEmployeeTaskView

@{
    ViewBag.Title = "Edit Employee Task";
    string compulsoryFields = "";
}



<div class="modal-header">
    <h3>@ViewBag.Title</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

@Html.ValidationSummary()



@using (Html.BeginForm("EditEmployeeTask", "performanceManagement", FormMethod.Post, new { enctype = "multipart/form-data", encoding = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="modal-body">

        <input value="@Model.TaskId" name="TaskId" hidden />

        <div id="request">
            <div class="form-example-int">
                <div class="form-group">
                    <label>Task Name</label>
                    <div class="">
                        <input id="departmentname" name="TaskName" type="text" class="form-control " , value="@Model.TaskName" />
                    </div>
                </div>
            </div>



            <div class="form-example-int">
                <div class="form-group">
                    <label>Task Description</label>
                    <div class="">
                        <textarea id="Description" name="TaskDescription" type="text" class="form-control" , value="@Model.TaskDescription">@Model.TaskDescription</textarea>
                    </div>
                </div>
            </div>

            <div class="form-example-int">
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="">
                        <input id="departmentname" name="StartDate" type="date" class="form-control" value="@DisplayHelper.DisplayDate(Model.StartDate)" />
                    </div>
                </div>
            </div>

            <div class="form-example-int">
                <div class="form-group">
                    <label>End Date</label>
                    <div class="">
                        <input id="departmentname" name="EndDate" type="text" class="form-control" value="@DisplayHelper.DisplayDate(Model.EndDate)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int">
            <div class="form-group">
                <div class="">
                    <input type="checkbox" id="myCheck" onclick="myFunction()" name="rad" />
                    <label>Do you want Excel Sheet?</label>
                </div>
            </div>
        </div>

        <div id="text" class="modal-body" style="display:none">

            <div class="form-example-int">
                <div class="form-group">
                    <div class="">
                        <label>Upload File</label>
                        <input data-toggle="tooltip" data-placement="left" title="Upload Level Excel Sheet" type="file" class="btn" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="departmentExcelFile" value="" />
                    </div>
                </div>
            </div>

            <div class="form-example-int">
                <div class="form-group">
                    <div class="">
                        <label>Excel Format</label>
                        <img src="~/Images/Level Sample Excel.JPG" alt="Level Sample" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" name="submitButton" value="Submit" class="btn btn-default">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

}

<script type="text/javascript">

    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output textbox
        var text = document.getElementById("text");
        var request = document.getElementById("request");

        // If the checkbox is checked, display the output textbox
        if (checkBox.checked == true) {
            text.style.display = "block";
            request.style.display = "none"
            @(compulsoryFields = "")

        } else {
            text.style.display = "none";
            request.style.display = "block"
            @(compulsoryFields = "required")
        }
    }
</script>   