@model AA.HRMS.Interfaces.IEmployeeTaskListView


@{
    ViewBag.Title = "Task List";
    var hasInfo = (Model != null) && (Model.EmployeeTaskCollection.Any());

}


<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>

                                    <p>Keep track of your <span class="bread-ntd">Task</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.AntiForgeryToken()

@if (!string.IsNullOrEmpty(Model.ProcessingMessage))
{
    <div>
        <div class="container">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>

        </div>
    </div>
}

@if (hasInfo)
{
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Task Name</th>
                                        <th>Progress</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var d in Model.EmployeeTaskCollection)
                                    {
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <label>@d.TaskName</label>
                                                    <hr />
                                                    <div>
                                                        <article><p>@d.TaskDescription</p></article>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="notika-shadow">
                                                    <div class="skill-content-3 ongoing-tsk">
                                                        <div class="skill">
                                                            <div class="progress">
                                                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: @d.Progress%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>@d.Progress%</span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <a class="btn btn-sm btn-primary mg-t-15" href="performanceManagement/ViewMilestones?employeeTaskId=@d.TaskId" data-placement="left" title="View Milestones for @d.TaskName">Milestone</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Task Name</th>
                                        <th>Progress</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Task Available</p>
                </div>
            </div>
        </div>
    </div>
}






<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayCreate">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayView">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayEdit">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayDelete">

            </div>
        </div>
    </div>
</div>

<script>

    var URL = "";

    function createModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayCreate").html(data);
            }
        });

        $("#createModal").modal();
    }

    function viewModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayView").html(data);
            }
        });

        $("#viewModal").modal();
    }

    function editModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayEdit").html(data);
            }
        });

        $("#editModal").modal();

    }

    function deleteModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayDelete").html(data);
            }
        });

        $("#deleteModal").modal();

    }
</script>


