@using AA.HRMS.Interfaces.ValueTypes
@using System.Web

@model AA.HRMS.Interfaces.IDeductionListView

@{
    ViewBag.Title = "Employee Deduction";
    var hasInfo = ((Model != null) && Model.DeductionCollection.Any());

    var role = (String[])HttpContext.Current.Session[SessionKey.UserRoles];

    var URL = "/EmployeeDeduction/EmployeeDeduction?EmployeeId=" + @Model.Employee.EmployeeId;


}



<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                @if (role.Contains("Employee"))
                                {
                                    <div class="breadcomb-ctn">
                                        <h2>My Deduction</h2>
                                    </div>
                                }
                                else
                                {
                                    <div class="breadcomb-ctn">
                                        <h2>@Model.Employee.LastName Deductions</h2>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (role.Contains("Supervisor") || role.Contains("CompanyAdmin"))
                                {
                                    <a class="btn" data-toggle="tooltip" href="/Employee/ViewEmployee?employeeId=@Model.Employee.EmployeeId" data-placement="left" title="Back to @Model.Employee.LastName"><i class="notika-icon notika-back"></i></a>
                                }
                                <button class="btn" data-toggle="tooltip" onclick="createModal('/companysetup/createemployeeDeduction?employeeId=@Model.Employee.EmployeeId&URL=@URL')" data-placement="left" title="Put @Model.Employee.LastName on Deduction"><i class="notika-icon notika-plus-symbol"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
        {

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
            </div>
        }
    </div>
</div>


@if (hasInfo)
{
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Deduction</th>
                                        <th>Date Started</th>
                                        <th>Amount</th>
                                        <th>Terminated Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.DeductionCollection)
                                    {
                                        <tr>

                                            <td>
                                                @d.EemployeeName
                                            </td>
                                            <td>
                                                @d.DeductionName
                                            </td>
                                            <td>
                                                @d.DateStarted.ToString("yyyy-MM-dd")
                                            </td>
                                            <td>
                                                @d.DeductionAmount
                                            </td>

                                            @{
                                                if (d.IsTerminated != true)
                                                {
                                                    <td>
                                                        Deduction On-going
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @DisplayHelper.DisplayDate(d.DateTerminated)
                                                    </td>
                                                }


                                            }
                                                

                                            @{
                                                if (role.Contains("CompanyAdmin") && d.IsTerminated == false)
                                                {
                                                    <td>
                                                        <button class="btn btn-sm btn-danger" onclick="createModal('/CompanySetup/DeleteEmployeeDeduction?employeeDeductionId=@d.DeductionId&employeeId=@d.EmployeeId&url=@URL')" data-placement="left" title="Deactivate Employee Deduction">Deactivate</button>
                                                    </td>
                                                }
                                                else if (!role.Contains("CompanyAdmin") && d.IsTerminated != false)
                                                {
                                                    <td>
                                                        <button class="btn btn-cyan">Deduction Deactivated</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <p> Deduction Deactivated</p>
                                                    </td>

                                                }
                                            }

                                          
                                            

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Deduction</th>
                                        <th>Date Started</th>
                                        <th>Amount</th>
                                        <th>Terminated Date</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Deductions</p>
                </div>
            </div>
        </div>
    </div>
}



<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayCreate">

            </div>
        </div>
    </div>
</div>

<script>
    var URL = "";

    function createModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayCreate").html(data);
            }
        });


        $("#createModal").modal();
    }
</script>